<div class="container">
  <div class="recipe-header">
    <center style="margin: 25px auto;">
      <h2><%= @recipe.title.capitalize %></h2>
      <h4 style="opacity: 0.5;">Page d'édition <i class="far fa-edit"></i></h4>
    </center>
  </div>
  <!-------------------------------- EDIT RECIPE FORM 1 -------------------------------->
  <%= simple_form_for([:owner, @recipe], remote: true) do |recipe_form|%>
    <div class="form-subtitle">
      Sous-titre
      <%= recipe_form.input :subtitle, label: false, placeholder: '...' %>
      <%= recipe_form.button :submit, 'Mettre à jour', class: 'btn btn-info js-update-btn' %>
    </div>
  <% end %>
  <!------------------------------- END OF RECIPE FORM 1 ------------------------------->
  <div class="container">
    <div class="form-photo-wrapper">
      <%= simple_form_for([:owner, @recipe], remote: true) do |recipe_form|%>
        <div class="form-photo">
          <p>Photo</p>
          <%= recipe_form.input :photo, label: false %>
        </div>
      <% end %>
    </div>
  </div>
  <!------------------------------- EDIT RECIPE FORM 2 ------------------------------->
  <div class="form-servings-wrapper">
    <%= simple_form_for([:owner, @recipe], remote: true) do |recipe_form|%>
      <div class="form-servings">
        <p>Portions</p>
        <div>
          <%= recipe_form.input :servings, label: false, placeholder: '4' %>
        </div>
        <div>
          <%= recipe_form.button :submit, 'Mettre à jour', class: 'btn btn-info js-update-btn' %>
        </div>
      </div>
    <% end %>
  </div>
  <!-------------------------------- END OF RECIPE FORM 2 -------------------------------->
  <div class="form-description-wrapper">
    <%= simple_form_for([:owner, @recipe], remote: true) do |recipe_form|%>
      <div class="form-description">
        <div>
          <%= recipe_form.input :description, label: 'Description', placeholder: "Ecrivez un commentaire sur votre recette" %>
        </div>
        <div>
          <%= recipe_form.button :submit, 'Mettre à jour', class: 'btn btn-info js-update-btn' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="edit-recipe-division">
    <!------------------------------- EDIT RECIPE FORM 3 ------------------------------->
    <%= simple_form_for([:owner, @recipe], remote: true) do |recipe_form|%>
      <div class="form-inputs">
        <div class="form-timing">
          <%= recipe_form.input :prep_time, label: 'Préparation', placeholder: 'h,min...', error: 'Le temps de préparation est obligatoire' %>
          <%= recipe_form.input :cook_time, placeholder: 'h,min...', label: 'Cuisson' %>
          <%= recipe_form.input :rest_time, label: 'Repos', placeholder: 'h,min...' %>
          <%= recipe_form.button :submit, 'Mettre à jour', class: 'btn btn-info btn-timing js-update-btn' %>
        </div>
      </div>
    <% end %>

  </div>
  <!-------------------------------- END OF RECIPE FORM 3 -------------------------------->
  <% @recipe.steps.order(:position).each do |step| %>
    <div class="edit-recipe-division">
      <div class="step-title">
        <h5>Etape <%= step.position %>/<%= @recipe.steps.count %></h5>
        <%= link_to owner_step_path(step), method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "delete-step-button" do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
      <div class="edit-recipe-division-header">
        <h6 class="margin-bottom-15"><i class="far fa-lemon"></i> Saisie des ingrédients de l'étape avec leur quantité et leur unité de mesure </h6>
        <div id="doses-edit">
          <% step.doses.order(:created_at).each do |dose| %>
            <!--------------------------------- EDIT DOSE FORM --------------------------------->
              <%= render 'owner/doses/edit', dose: dose %>
            <!------------------------------ END OF DOSE FORM ------------------------------>
          <% end %>
        </div>
        <!--------------------------------- NEW DOSE FORM --------------------------------->
        <%= simple_form_for([:owner, step, @dose], remote: true) do |new_dose_form|%>
          <div class="form-new-dose">
            <%= new_dose_form.association :ingredient, label: 'Ingrédient', input_html: { class: 'select2', id: "new_dose_step_#{step.id}" } %>
            <%= new_dose_form.input :quantity, label: 'quantité' %>
            <%= new_dose_form.input :unit, label: 'unité' %>
            <%= new_dose_form.submit '+ Ajouter', class: "btn btn-secondary btn-new-dose js-add-btn" %>
          </div>
        <% end %>
        <!----------------------------- END OF NEW DOSE FORM ----------------------------->
        <div class="step-content">
          <h6 class="margin-bottom-15"><i class="fas fa-utensil-spoon"></i> Saisie des ustensiles de cusine nécessaires à l'étape</h6>
          <div class="steps-utensils">
            <% step.step_utensils.order(:created_at).each do |step_utensil| %>
              <!--------------------------------- EDIT STEP_UTENSIL FORM --------------------------------->
                  <div class="utensil">
                    <%= step_utensil.utensil.name %>
                    <%= link_to owner_step_utensil_path(step_utensil), method: :delete, data: { confirm: "Êtes-vous sûr ?" } do %>
                      <i class="far fa-trash-alt" style="opacity: 0.5"></i>
                    <% end %>
                  </div>
              <!------------------------------ END OF STEP_UTENSIL FORM ------------------------------>
            <% end %>
          <!--------------------------------- NEW STEP_UTENSIL FORM --------------------------------->
<!--               <div class="new_utensil"> -->
              <%= simple_form_for([:owner, step, @step_utensil], remote: true) do |new_step_utensil_form|%>
                <div class="form-new-utensil">
                  <%= new_step_utensil_form.association :utensil, label: false, input_html: { class: 'select2', id: "new_utensil_step_#{step.id}" } %>
                  <%= new_step_utensil_form.submit '+ Ajouter un ustensile', class: "btn btn-secondary btn-new-dose js-add-btn" %>
                </div>
              <% end %>
<!--               </div> -->
          </div>
        </div>
        <!----------------------------- END OF NEW STEP_UTENSIL FORM ----------------------------->
        <!------------------------------- EDIT STEP FORM ------------------------------->
        <%= simple_form_for([:owner, step], remote: true) do |content_form|%>
          <div class="step-content">
            <h6 class="margin-bottom-15">Description de l'étape</h6>
              <%= content_form.input :content, label: false %>
              <%= content_form.submit 'Mettre à jour la description', class: "btn btn-info btn-doses js-update-btn" %>
          </div>
        <% end %>
          <!---------------------------- END OF EDIT STEP FORM ---------------------------->
      </div>
    </div>
  <% end %>
  <!----------------------------------- NEW STEP FORM ----------------------------------->
    <%= simple_form_for([:owner, @recipe, @step], remote: true) do |f| %>
      <h5><%= f.submit "+ Ajouter une étape", class: "btn btn-secondary btn-block mb-5 js-add-btn" %></h5>
    <% end %>
  <!------------------------------- END OF NEW STEP FORM ------------------------------->
  <div class="text-right edit-ending-button">
    <%= link_to 'Terminer et revenir au dashboard', owner_dashboard_path, class: "btn btn-info" %>
  </div>
</div>




