<div class="container">
  <div class="row">
    <div class="col-sm form-basics">
      <h1 class="mt-3 text-center mb-5">Créer une nouvelle recette</h1>
      <%= simple_form_for [:owner, @recipe] do |f| %>
      <div class="form-row">
        <div class="col-sm-12 col-md-6">
          <%= f.input :title, label: 'Titre de votre recette'%>
        </div>
        <div class="col-sm-12 col-md-6">
          <%= f.input :photo %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label check_boxes optional">Tags</label>
        <input type="hidden" name="post[tag_ids][]" value="">
        <div class="tag-choices">
          <% Tag.all.each do |tag| %>
          <div>
            <input type="checkbox" class="d-none" value="<%= tag.id %>" name="post[tag_ids][]" id="post_tag_ids_<%= tag.id %>">
            <label class="tag-choice" for="post_tag_ids_<%= tag.id %>">
              <%= tag.name %>
            </label>
          </div>
          <% end %>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-12">
          <div class="text-area-description">
          <%= f.input :description, as: :text, label: "Ajouter un commentaire à votre recette"%>
          </div>
        </div>
      </div>
       <%= f.submit "Etape suivante", class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>
<%#= link_to "save", recipe_path(recipe_id) %>
<div class="quote-icon-open">
  <i class="fas fa-quote-left"></i>
</div>

<div class="quote-icon-close">
  <i class="fas fa-quote-right"></i>
</div>
