<div class="container">
  <div class="search-box">
    <h2>Les recettes</h2>
    <%= form_tag recipes_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-bar",
        placeholder: "Rechercher par titre ou utilisateur"
      %>
    <% end %>
  </div>
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class= "col-sm-12 col-md-6 col-lg-4">
        <%= link_to recipe_path(recipe), class: 'card-link' do %>
          <div class="card-recipe">
            <% if recipe.photo.url.nil? %>
         <div class="card-recipe-image text-center" style="background-image: url('<%= image_path "default_image.png" %>')">
         <% else %>
        <div class="card-recipe-image text-center" style="background-image: url('<%= cl_image_path recipe.photo %>')">
          <% end %>
              <div class="card-recipe-title">
                <h2><%= recipe.title %></h2>
              </div>
              <%= cl_image_tag recipe.user.avatar, aspect_ratio: 1, crop: :fill, class: "avatar-bordered avatar-in-card" %>
              <% if recipe.has_more_than_one_variant %>
                <span class="variant-count"><%= recipe.published_variants.count %> variantes</span>
              <% elsif recipe.has_one_variant %>
                <span class="variant-count"><%= recipe.published_variants.count %> variante</span>
              <% else %>
              <% end %>
            </div>
            <div class="card-recipe-description">
              <p>" <%= recipe.description.truncate(130, omission: '...') %> "</p>
              <span class="cook-time-info">
                <i class="far fa-clock"></i> <%= recipe.cook_time %>
              </span>
            </div>
          </div>
       <% end %>
        </div>
    <% end %>
  </div>
</div>

