<div class="container container-show">
  <div class="row">
    <div class="col-sm">
      <div class="recipe-header">
          <% if @recipe.photo.url.nil? %>
         <div class="recipe-photo" style="background-image: url('<%= image_path "default_image.png" %>')">
         <% else %>
        <div class="recipe-photo" style="background-image: url('<%= cl_image_path @recipe.photo %>')">
          <% end %>
          <div class="tags-list">
            <% @recipe.tags.each do |tag| %>
            <span><%= tag.name %></span>
            <% end %>
          </div>
        </div>
        <div class="recipe-title-card">
          <h2><%= @recipe.title.capitalize %></h2>
          <h5 style="opacity: 0.5;"><%= @recipe.subtitle.capitalize %></h5>
        </div>
        <div class="recipe-date"><%= @recipe.published_on.strftime("%d/%m/%Y") if @recipe.published %></div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8">
       <div class="recipe-division recipe-author-card">
          <div class="recipe-description">
            <p>“ <%= @recipe.description %>  ”</p>
          </div>
          <div class="author">
            <div class="author-name"><h5>- par <%= @recipe.user.first_name.capitalize %> <%= @recipe.user.last_name.split.map(&:capitalize).join(' ') %></h5></div>
            <div class="author-avatar">
              <%= cl_image_tag @recipe.user.avatar, aspect_ratio: 1, crop: :fill, class: "avatar"%>
            </div>
          </div>
          <% if @recipe.kind == 'original' && @recipe.user != current_user %>
            <div class="add-changes-proposal">
              <%= link_to recipe_copies_path(@recipe, recipe_copy_kind: 'changes_proposal'), method: :post do %>
                <i class="fas fa-user-edit"></i> Proposer à <%= @recipe.user.first_name.capitalize %> des modifications
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="recipe-division timing">
          <div class="row text-center">
            <div class="col-sm">
              <p>
                <%= @recipe.prep_time.nil? ? '-' : @recipe.prep_time %>
                <br>
                Préparation
              </p>
            </div>
            <div class="col-sm">
              <p>
                <%= @recipe.cook_time.nil? ? '-' : @recipe.cook_time %>
                <br>
                Cuisson
              </p>
            </div>
            <div class="col-sm">
              <p>
                <%= @recipe.rest_time.nil? ? '-' : @recipe.rest_time %>
                <br>
                Repos
              </p>
            </div>
          </div>
        </div>
        <div class="recipe-division ingredients">
          <h5>Ingrédients</h5>
          <% if @recipe.servings == 1 %>
            <p><strong>Portion <%= @recipe.servings %></strong></p>
          <% elsif @recipe.servings > 1%>
            <p><strong>Portions <%= @recipe.servings %></strong></p>
          <% else %>
          <% end %>
          <table>
            <tbody>
              <% @recipe.steps.each do |step| %>
                <% step.doses.each do |dose| %>
                  <tr>
                    <td class="dose amount"><%= dose.quantity %> <%= dose.unit %></td>
                    <td class="dose"><%= dose.ingredient.name %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>

        </div>
        <div class="recipe-division utensils">
          <h5>Ustensiles</h5>
          <p>
            <% utensils_list = [] %>
            <% @recipe.steps.each do |step| %>
              <% step.utensils.each do |utensil| %>
                <% utensils_list << utensil.name %>
              <% end %>
            <% end %>
            <%= utensils_list.uniq.join(', ') %>
            </p>

        </div>
        <div class="recipe-division instructions">
          <h5>Instructions</h5>
          <% nb_steps = @recipe.steps.count %>
          <% @recipe.steps.each do |step| %>
            <div class="step">
              <p><span><strong>Etape <%= step.position %>/<%= nb_steps %></strong></span>
                <br>
                <% unless step.doses.empty? %>
                  <i class="far fa-lemon"></i>
                  <% step_ingredients = step.doses.map do |dose| %>
                      <% "#{dose.quantity} #{dose.unit} #{dose.ingredient.name}" %>
                  <% end %>
                  <%= step_ingredients.join(' - ') %>
                  <br>
                <% end %>
                <% unless step.utensils.empty? %>
                  <i class="fas fa-utensil-spoon"></i>
                  <% step_utensils_list = step.utensils.map do |utensil| %>
                    <% utensil.name %>
                  <% end %>
                  <%= step_utensils_list.join(' - ') %>
                <% end %>
              </p>
              <p>
                <%= step.content %>
              </p>
            </div>
          <% end %>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <% published_variants = @recipe.variants.select { |variant| variant.published == true } %>
      <% if @recipe.kind == 'variant' %>
        <div class="back-to-original-link">
          <%= link_to recipe_path(@recipe.original_recipe) do %>
            <h5 class="back-to-original-recipe-text">Revenir à la recette originale</h5>
          <% end %>
        </div>
      <% end %>
      <% if published_variants.present? && @recipe.kind == 'original'%>
        <div class="recipe-variants">
          <h5 class="text-center mb-3">Tester une variante de la recette</h5>
          <div class="tags-variants mb-0">
            <% all_variants_tags = [] %>
            <% @recipe.variants.each do |variant| %>
              <% variant.tags.each do |tag| %>
                <% all_variants_tags << tag.name %>
              <% end %>
            <% end %>
            <% all_variants_tags.uniq.each do |tag| %>
              <span data-variant-name="<%= tag %>" class="background-white click js-variant-tag"><%= tag %></span>
            <% end %>
          </div>
          <% published_variants.each do |variant| %>
            <%= link_to recipe_path(variant), class: 'card-variant-link js-variant-card', data: { 'variant-tags': variant.tags.map(&:name).to_json } do %>
              <div class="variant-card">
                <div class="variant-header">
                  <div class="variant-subtitle"><h5><%= variant.subtitle.capitalize %></h5></div>
                  <div class="author-avatar">
                    <%= cl_image_tag variant.user.avatar, aspect_ratio: 1, crop: :fill, class: "avatar" %>
                  </div>
                </div>
                <div class="upvote">
                  <i class="fas fa-arrow-up"></i> <%= variant.upvote %>
                </div>
                <div class="tags-variants">
                  <% variant_tags_list = variant.tags.map do |tag| %>
                    <% tag.name %>
                  <% end %>
                  <% variant_tags_list.each do |tag| %>
                    <span class="variant-span"><%= tag %></span>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="add-variant">
          <%= link_to recipe_copies_path(@recipe), method: :post do %>
            <h5><span>+</span>Créer une nouvelle variante</h5>
          <% end %>
        </div>
      <% else %>
        <div class="add-variant variant-margin-top">
          <%= link_to recipe_copies_path(@recipe), method: :post do %>
            <h5><span>+</span>Créer une nouvelle variante</h5>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

