<div class="container container-show">
  <div class="row">
    <div class="col-sm">
      <div class="recipe-header">
        <div class="recipe-photo" style="background-image: url('<%= cl_image_path(@recipe.photo) %>');">
          <div class="tags-list">
            <% @recipe.tags.each do |tag| %>
            <span><%= tag.name %></span>
            <% end %>
          </div>
        </div>
        <div class="recipe-title-card">
          <h2><%= @recipe.title.capitalize %></h2>
          <h5 style="opacity: 0.5;"><%= @recipe.subtitle.capitalize %></h5>
        </div>
        <div class="recipe-date">23 mars 2019</div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8">
       <div class="recipe-division recipe-author-card">
          <div class="recipe-description">
            <p>“ <%= @recipe.description %>  ”</p>
          </div>
          <div class="author">
            <div class="author-name"><h5>- par <%= @recipe.user.first_name.capitalize %> <%= @recipe.user.last_name.split.map(&:capitalize).join(' ') %></h5></div>
            <div class="author-avatar">
              <%= cl_image_tag @recipe.user.avatar, aspect_ratio: 1, crop: :fill, class: "avatar"%>
            </div>
          </div>
        </div>
        <div class="recipe-division timing">
          <div class="row text-center">
            <div class="col-sm">
              <p>
                <%= @recipe.prep_time.nil? ? '-' : @recipe.prep_time %>
                <br>
                Préparation
              </p>
            </div>
            <div class="col-sm">
              <p>
                <%= @recipe.cook_time.nil? ? '-' : @recipe.cook_time %>
                <br>
                Cuisson
              </p>
            </div>
            <div class="col-sm">
              <p>
                <%= @recipe.rest_time.nil? ? '-' : @recipe.rest_time %>
                <br>
                Repos
              </p>
            </div>
          </div>
        </div>
        <div class="recipe-division ingredients">
          <h5>Ingrédients</h5>
          <p><strong>Portions 4</strong></p>
          <table>
            <tbody>
              <% @recipe.steps.each do |step| %>
                <% step.doses.each do |dose| %>
                  <tr>
                    <td class="dose amount"><%= dose.quantity %> <%= dose.unit %></td>
                    <td class="dose"><%= dose.ingredient.name %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>

        </div>
        <div class="recipe-division utensils">
          <h5>Ustensiles</h5>
          <p>
            <% utensils_list = [] %>
            <% @recipe.steps.each do |step| %>
              <% step.utensils.each do |utensil| %>
                <% utensils_list << utensil.name %>
              <% end %>
            <% end %>
            <%= utensils_list.uniq.join(', ') %>
            </p>

        </div>
        <div class="recipe-division instructions">
          <h5>Instructions</h5>
          <% nb_steps = @recipe.steps.count %>
          <% @recipe.steps.each do |step| %>
            <div class="step">
              <p><span><strong>Etape <%= step.position %>/<%= nb_steps %></strong></span>
                <br>
                <i class="far fa-lemon"></i>
                <% step_ingredients = step.doses.map do |dose| %>
                    <% "#{dose.quantity} #{dose.unit} #{dose.ingredient.name}" %>
                <% end %>
                <%= step_ingredients.join(' - ') %>
                <br>
                <i class="fas fa-utensil-spoon"></i>
                <% step_utensils_list = step.utensils.map do |utensil| %>
                  <% utensil.name %>
                <% end %>
                <%= step_utensils_list.join(' - ') %>
              </p>
              <p>
                <%= step.content %>
              </p>
            </div>
          <% end %>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <% if @recipe.variants.present? || @recipe.kind == 'variant'%>
        <div class="recipe-variants">
          <% if @recipe.kind == 'original' %>
            <h5 class="text-center">Tester une variante<br>de la recette</h5>
          <% else %>
            <h5 class="text-center">Revenir à la recette originale</h5>
            <%= link_to recipe_path(@recipe.original_recipe), class: 'card-lien' do %>
              <div class="variant-card mb-3">
                <div class="variant-header">
                  <div class="variant-subtitle"><h5><%= @recipe.original_recipe.subtitle.capitalize %></h5></div>
                  <div class="author-avatar">
                    <%= cl_image_tag @recipe.original_recipe.user.avatar, aspect_ratio: 1, crop: :fill, class: "avatar" %>
                  </div>
                </div>
                <i class="fas fa-arrow-up"></i> 12
                <div class="tags-variants">
                  <% original_tags_list = @recipe.original_recipe.tags.map do |tag| %>
                    <% tag.name %>
                  <% end %>
                  <% original_tags_list.each do |tag| %>
                    <span class="variant-span"><%= tag %></span>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="tags-variants mb-3">
            <% all_variants_tags = [] %>
            <% @recipe.variants.each do |variant| %>
              <% variant.tags.each do |tag| %>
                <% all_variants_tags << tag.name %>
              <% end %>
            <% end %>
            <% all_variants_tags.uniq.each do |tag| %>
              <span data-variant-name="<%= tag %>" class="background-white click js-variant-tag"><%= tag %></span>
            <% end %>
          </div>
          <% @recipe.variants.each do |variant| %>
            <%= link_to recipe_path(variant), class: 'card-link js-variant-card', data: { 'variant-tags': variant.tags.map(&:name).to_json } do %>
              <div class="variant-card">
                <div class="variant-header">
                  <div class="variant-subtitle"><h5><%= variant.subtitle.capitalize %></h5></div>
                  <div class="author-avatar">
                    <%= cl_image_tag variant.user.avatar, aspect_ratio: 1, crop: :fill, class: "avatar" %>
                  </div>
                </div>
                <div class="upvote">
                  <i class="fas fa-arrow-up"></i> 12
                </div>
                <div class="tags-variants">
                  <% variant_tags_list = variant.tags.map do |tag| %>
                    <% tag.name %>
                  <% end %>
                  <% variant_tags_list.each do |tag| %>
                    <span class="variant-span"><%= tag %></span>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="add-variant">
          <h5><span>+</span>Créer une nouvelle variante</h5>
        </div>
      <% else %>
      <div class="add-variant variant-margin-top">
        <h5><span>+</span>Créer une nouvelle variante</h5>
      </div>
      <% end %>
    </div>
   </div>
</div>

