<%= simple_form_for([:owner, dose], remote: true) do |dose_form|%>
  <div class="dose-ingredients" id="dose-<%= dose.id %>">
    <p class="ingredient-name"><%= dose.ingredient.name %></p>
    <%= dose_form.input :quantity, label: false %>
    <%= dose_form.input :unit, label: false %>
    <%= dose_form.submit 'Mettre à jour', class: "btn btn-info btn-doses js-update-btn" %>
    <%= link_to 'Supprimer', owner_dose_path(dose), method: :delete, remote: true, class: "btn btn-primary btn-doses js-delete-btn" %>
  </div>
<% end %>
